/*
* Format
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

button,
.format-button {
	display: inline-block;
	@include fontsize(21px, 16px);
	font-family: $fontFamilyPrimary;
	font-weight: 400; /* regular */
	line-height: 1;
	padding: 0.4em 2em;
	text-transform: uppercase;
	border: 0;
	cursor: pointer;

	@include transition(all, 200ms, linear, 0ms);

	&.primary {
		background: $colorRed;
		color: $colorWhite;

		@media (hover: hover) {
			&:hover {
				background: $colorBlue;
			}
		}

		&:active {
			background: $colorDarkRed;
		}
	}

	&.secondary {
		border: 1px solid $colorWhite;
		color: $colorWhite;

		@media (hover: hover) {
			&:hover {
				color: $colorBlue;
				background: $colorWhite;
				border-color: $colorBlue;
			}
		}

		&:active {
			color: $colorDarkRed;
			border-color: $colorDarkRed;
		}

		.white-bg & {
			border: 1px solid $colorCharcoal;
			color: $colorCharcoal;

			@media (hover: hover) {
				&:hover {
					color: $colorBlue;
					background: $colorWhite;
					border-color: $colorBlue;
				}
			}

			&:active {
				color: $colorDarkRed;
				background: $colorWhite;
				border-color: $colorDarkRed;
			}
		}
	}
}


.format-link-arrow {
	position: relative;
	display: inline-block;
	font-family: $fontFamilySecondary;
	@include fontsize(35px, 26px);
	font-weight: 300; /* light */
	text-transform: uppercase;
	color: $colorWhite;
	padding-right: 42px;
	cursor: pointer;

	@include transition(all, 100ms, linear, 0ms);

	&:after {
		position: absolute;
		top: 50%;
		right: 0;
		@include transform(translateY(-50%));
		width: 32px;
		height: 26px;
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26'%3E%3Cg fill='none' stroke='%23fff'%3E%3Ccircle cx='13' cy='13' r='13' stroke='none'/%3E%3Ccircle cx='13' cy='13' r='12.5'/%3E%3C/g%3E%3Cpath d='M15.169 13.689l.831-.831-.831-.831-4.784-4.784-.831.831 4.784 4.784-4.784 4.784.831.831z' fill='%23fff'/%3E%3C/svg%3E");
		content: "";
		@include transition(all, 100ms, linear, 0ms);
	}

	.white-bg & {
		color: $colorBlack;

		&:after {
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26'%3E%3Cg fill='none' stroke='%23000'%3E%3Ccircle cx='13' cy='13' r='13' stroke='none'/%3E%3Ccircle cx='13' cy='13' r='12.5'/%3E%3C/g%3E%3Cpath d='M15.169 13.689l.831-.831-.831-.831-4.784-4.784-.831.831 4.784 4.784-4.784 4.784.831.831z' fill='%23000'/%3E%3C/svg%3E");
			content: "";
		}
	}

	@media (hover: hover) {
		&:hover {
			color: $colorWhite;

			&:after {
				background-repeat: no-repeat;
				background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.652' height='12.643'%3E%3Cg stroke='%23fff'%3E%3Cpath d='M30.114 7.152l.831-.831-.831-.831L25.33.706l-.831.831 4.784 4.784-4.784 4.784.831.831z' fill='%23fff'/%3E%3Cpath fill='none' stroke-width='2' d='M30 6.207H0'/%3E%3C/g%3E%3C/svg%3E");
			}

			.white-bg & {
				color: $colorBlack;

				&:after {
					background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.652' height='12.643'%3E%3Cg stroke='%23000'%3E%3Cpath d='M30.114 7.152l.831-.831-.831-.831L25.33.706l-.831.831 4.784 4.784-4.784 4.784.831.831z' fill='%23000'/%3E%3Cpath fill='none' stroke-width='2' d='M30 6.207H0'/%3E%3C/g%3E%3C/svg%3E");
				}
			}
		}
	}

	&:active {
		color: $colorDarkRed;

		&:after {
			margin-right: -10px;
			background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31.652' height='12.643'%3E%3Cg stroke='%23800C0B'%3E%3Cpath d='M30.114 7.152l.831-.831-.831-.831L25.33.706l-.831.831 4.784 4.784-4.784 4.784.831.831z' fill='%23800C0B'/%3E%3Cpath fill='none' stroke-width='2' d='M30 6.207H0'/%3E%3C/g%3E%3C/svg%3E");
		}
	}
}