/*
* Format
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

.format-game-tile {
	position: relative;
	text-align: center;

	a {
		display: block;
		text-decoration: none;

		@media (hover: hover) {
			&:hover {
				.photo {
					img {
						opacity: 0.5;
					}

					&:after {
						opacity: 1;
						width: 100%;
					}
				}

				.text {
					.game-title {
						&:after {
							opacity: 1;
							width: 100%;
						}
					}

					.cta {
						opacity: 1;
					}
				}
			}
		}
	}

	.photo {
		position: relative;

		img {
			@include transition(all, 600ms, ease-in-out, 0ms);
			width: 100%;
		}

		&:after {
			position: absolute;
			display: block;
			bottom: 0;
			left: 0;
			width: 0%;
			background: $colorRed;
			opacity: 0;
			height: 5px;
			@include transition(all, 600ms, ease-in-out, 0ms);
			content: "";
		}
	}

	.text {
		position: relative;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		.game-title {
			position: relative;
			margin: 0;
			padding: $spacingL 0 $spacingS 0;
			font-family: $fontFamilySecondary;
			text-transform: uppercase;
			@include fontsize(42px, 24px);
			color: $colorWhite;

			&:after {
				position: absolute;
				display: block;
				bottom: 0;
				left: 0;
				width: 0%;
				background: $colorRed;
				height: 5px;
				opacity: 0;
				@include transition(all, 600ms, ease-in-out, 0ms);
				content: "";

				display: none;
			}
		}

		.cta {
			margin: $spacingS 0 0 0;
			@media (hover: hover) {
				opacity: 0;
				@include transition(all, 600ms, ease-in-out, 0ms);
			}
		}
	}
}