/*
* Format
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

.format-section-title {
	margin: 0 0 $spacingXXL 0;
	@include fontsize(125px, 42px);
	font-family: $fontFamilySecondary;
	font-weight: 600; /* semibold */
	text-transform: uppercase;
	color: $colorWhite;
	text-align: center;
	line-height: 1;
}

.format-section-subtitle {
	margin: 0 0 $spacingM 0;
	@include fontsize(50px, 21px);
	font-family: $fontFamilySecondary;
	font-weight: 600; /* semibold */
	text-transform: uppercase;
	color: $colorWhite;
	text-align: center;
}