/*
* Format
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

.format-icon {
	display: inline-block;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}

.format-icon.edit {
	background-image: url(../images/icon-edit.png);
}

.format-icon.google {
	background-image: url(../images/icon-google.png);
}

.format-icon.android {
	background-image: url(../images/icon-gameprovider-android.png);
}

.format-icon.apple {
	background-image: url(../images/icon-gameprovider-apple.png);
}

.format-icon.ios {
	background-image: url(../images/icon-gameprovider-apple.png);
}

.format-icon.discord {
	background-image: url(../images/icon-gameprovider-discord.png);
}

.format-icon.epic {
	background-image: url(../images/icon-gameprovider-epicgames.png);
}

.format-icon.epicgames {
	background-image: url(../images/icon-gameprovider-epicgames.png);
}

.format-icon.sony {
	background-image: url(../images/icon-gameprovider-playstation.png);
}

.format-icon.ps {
	background-image: url(../images/icon-gameprovider-playstation.png);
}

.format-icon.ps4 {
	background-image: url(../images/icon-gameprovider-playstation.png);
}

.format-icon.playstation {
	background-image: url(../images/icon-gameprovider-playstation.png);
}

.format-icon.stadia {
	background-image: url(../images/icon-gameprovider-stadia.png);
}

.format-icon.steam {
	background-image: url(../images/icon-gameprovider-steam.png);
}

.format-icon.windows {
	background-image: url(../images/icon-gameprovider-windows.png);
}

.format-icon.pc {
	background-image: url(../images/icon-gameprovider-windows.png);
}

.format-icon.xbox {
	background-image: url(../images/icon-gameprovider-xbox.png);
}