/*
* Format
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

.format-leaderboard {
	border: 1px solid $colorGrey;
	box-sizing: border-box;
	padding: $spacingS $spacingS $spacingXL + $spacingXS $spacingS;

	background: rgba($colorBlack, 0.25);

	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;

	td {
		@include transition(all, 300ms, linear, 0ms);
		font-weight: 300; /* light */
	}

	.highlighted {
		th, td {
			color: $colorRed;
			font-weight: 700 !important;
		}
	}

	@media (hover: hover) {
		tr:hover td {
			background: $colorBlue;
		}
	}

	@media (min-width: $breakpointXXS + 1) and (max-width: $breakpointXS) {
		tr td {
			display: none;

			&:first-child,
			&:nth-child(2),
			&:last-child {
				display: table-cell;
			}
		}

		tr th {
			display: none;

			&:first-child,
			&:nth-child(2),
			&:last-child {
				display: table-cell;
			}
		}
	}

	@media (max-width: $breakpointXXS) {
		tr td {
			display: none !important;

			&:first-child,
			&:nth-child(2) {
				display: table-cell !important;
			}
		}

		tr th {
			display: none !important;

			&:first-child,
			&:nth-child(2) {
				display: table-cell !important;
			}
		}
	}
}
