/*
* Format
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

.format-messages {
	&:empty {
		display: none;
	}

	.msg-error {
		margin-top: $spacingL;
		margin-bottom: $spacingL;
		color: $colorRed !important;

		box-sizing: border-box;
		padding: $spacingS $spacingM;
		background: rgba($colorRed, 0.1);
	}

	.msg-success {
		margin-top: $spacingL;
		margin-bottom: $spacingL;
		color: lighten($colorBlue, 15%) !important;

		box-sizing: border-box;
		padding: $spacingS $spacingM;
		background: rgba($colorBlue, 0.15);
	}

	.msg-info {
		margin-top: $spacingL;
		margin-bottom: $spacingL;
		color: $colorLightGrey !important;

		box-sizing: border-box;
		padding: $spacingS $spacingM;
		background: rgba($colorLightGrey, 0.075);

	}

	ul {
		text-align: left;
		list-style-position: inside;
	}

	p, li {
		font-weight: 400; /* regular */
	}
}