/*
* Format
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

.format-pagination {
	padding: $spacingL 0;

	.pages-links {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;

		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;

		@media (max-width: $breakpointXS) {
			justify-content: center;
			flex-wrap: wrap;
		}
	}

	.page-link,
	.current-page {
		margin: 0 $spacingXS;
		padding: 0;

		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		@media (pointer: coarse) {
			margin: 0 $spacingS;
		}

		@media (max-width: $breakpointXXS) {
			margin: 0 $spacingXS !important;
		}
	}

	.current-page {
		margin: 0 $spacingS;

		@media (max-width: $breakpointXS) {
			order: 10;
			width: 100%;
			margin: $spacingM 0 0 0;

			&:before {
				padding: 0 $spacingS 0 0;
				content: "Page:";
			}
		}
	}

	a {
		display: block;
		width: 40px;
		height: 40px;
		border: 2px solid $colorLightGrey;
		text-align: center;
		font-size: 24px;
	}

	input {
		margin: 0 $spacingS 0 0;
		padding: 0;
		display: block;
		width: 44px;
		height: 44px;
		box-sizing: border-box;
		border: 2px solid $colorWhite;
		background: #fff;
		text-align: center;
		color: $colorBlack;
	}
}