/*
* Format
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

.format-sliding-label {
	position: relative;
	margin-bottom: 0;
	cursor: text;

	@include transition(transform, 300ms, ease-in, 0ms);
	@include transform(translateY(30px));

	&.active {
		@include transition(transform, 100ms, ease-in, 0ms);
		@include transform(translateY(0px));
		cursor: default;
	}

	&:not(.active) + input {
		@include placeholder(transparent, normal);
	}

	& + input {
		outline: 0;
		box-shadow: none;
	}

	&.error {
		color: $colorRed;

		& + input {
			border-color: $colorRed;
		}
	}
}
