body {
  // font-family: $oswald !important;
  position: relative;
}

a {
  text-decoration: none;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
    outline: none;
  }
}

*:focus,
*:active {
  outline: none !important;
  box-shadow: none !important;
}
// textarea:focus,
// input:focus {
//   outline: none;
// }

.form-control:focus {
  border-color: #ddd !important;
}

.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  border-radius: 0;
  color: $white;
}

.form-control:focus {
  border-color: transparent !important;
  border-bottom-color: $white !important;
  background: transparent !important;
  color: $white;
}

.reg-error-parent {
  margin: 0;
  padding-top: 5px;
}
.reg-error {
  display: block;
  font-size: 12px;
  color: $red;
  padding-left: 5px;
}

form label {
  text-transform: capitalize;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
  border-bottom-color: #ffffff !important;
  background: transparent !important;
  color: #ffffff !important;
}

.default-btn {
  background: $white;
  box-shadow: none;
  outline: none;
  border: 1px solid $lightGray;
  border-radius: 5px;
  height: 48px;
  line-height: 48px;
  padding: 0 20px;
  color: $black;
  &:hover {
    background-color: $blue;
    text-decoration: none;
  }
  &:active,
  &:focus {
    background-color: $buttonActive;
    outline: none;
  }
}
.submit-btn {
  background: #444;
  border: 1px solid #333;
  color: $white;
}

.visible-mb {
  display: none;
  img {
    width: 100%;
  }
}

.visible-dp {
  display: block;
  max-width: 95px;
  img {
    width: 100%;
  }
}

.body-text {
  color: $white;
  a {
    color: $white;
    margin-left: 5px;
  }
}

/*=========================SUCCESS on FORMS ====================*/

.form-success {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 auto;
  color: $white;
  text-transform: capitalize;
}
.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
  text-align: center;
}

/*===============loader on button=====================*/
.loader-btn,
.loader-btn:after {
  display: inline-block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-top: 0px;
}
.loader-btn {
  //   margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 5px solid rgba(255, 255, 255, 0.2);
  border-right: 5px solid rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid rgba(255, 255, 255, 0.2);
  border-left: 5px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* custom checkbox */
.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  color: $white;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked ~ .checkmark {
      background-color: transparent;
    }
    &:checked ~ .checkmark:after {
      display: block;
    }
  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: 2px solid $white;
    border-radius: 2px;
    &:after {
      content: "";
      position: absolute;
      display: none;
      left: 5px;
      top: 2px;
      width: 6px;
      height: 10px;
      border: solid $white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
  &:hover input ~ .checkmark {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

/*=============NOT LOGGED IN===========*/

.notlogged-in {
  @include centerFlex;
  flex-direction: column;
  width: 100%;
  height: 80vh;
  font-weight: 600;
  text-transform: capitalize;
  p {
    margin: 10px;
    font-size: 2rem;
    &:first-child{
      a{
        font-size: 2rem;
      }
    }
  }
  a {
    font-size: 1.5rem;
  }
}

/*==========LOADING DATA===========*/

.loading-data {
  display: block;
  width: 100%;
  text-align: center;
  position: fixed;
  top: 40%;
  left: 0;
  z-index: 99;
  > div {
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    color: $white;
    border-radius: 8px;
    padding: 20px 0;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: block;
    @media screen and (max-width: 992px) {
      width: 80%;
    }
  }
}

.game-leader-bg {
  background-image: url("./../assets/abc.png");
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/*==============OFFLINE==========*/

.offline-p {
  text-align: center;
  color: $white;
  font-size: 1.3rem;
}

/*============SCROLL TO TOP============*/

.scroll-to-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 99;
  .arrow-holder {
    @include centerFlex;
    width: 30px;
    height: 30px;
    cursor: pointer;
    img {
      width: 100%;
    }
  }
  // @media screen and (max-width: 767px) {
  //   bottom: 20px;
  //   right: 20px;
  //   .arrow-holder {
  //     width: 20px;
  //     height: 20px;
  //   }
  // }
}


/*=================SEARCH BOX FOR GAMER ID=================== */
.id-search-wrap{
  max-width: 280px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  form{
    display: flex;
    height: 40px;
    border: 1px solid $white;
    .form-control{
      border-bottom-color: transparent;
      &:active,&:focus{
        border-bottom-color: transparent !important;
      }
    }
    button {
      background-color: $white;
      color: $black;
      box-shadow: none;
      outline: none;
      border: 1px solid $white;
      padding: 0 15px;
      &:hover {
        background-color: $red;
        color: $white;
      }
      &:active,
      &:focus {
        background-color: $buttonActive;
        color: $white;
      }
    }
  }
  .form-head{
    color: $white;
    text-align: center;
    margin-bottom: 10px;
  }
  .clear-div{
    cursor: pointer;
    color: $white;
    font-size: 0.875rem;
    margin: 0 0 0 5px;
    line-height: 1;
  }
}

.register-btn {
  box-shadow: none;
  outline: none;
  border: 1px solid transparent;
  @include button;
  font-weight: 500;
  &:hover {
    background-color: $blue;
    text-decoration: none;
  }
  &:active,
  &:focus {
    background-color: $buttonActive;
    outline: none;
  }
}
.full-width {
  width: 100%;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (max-width: 992px) {
  .visible-mb {
    display: block;
    // width: 50%;
    .nav-link {
      max-width: 80px;
      padding: 0;
    }
  }
  .visible-dp {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .visible-mb {
    // width: 50%;
    .nav-link {
      max-width: 60px;
      padding: 0;
    }
  }
}

// .container{
//     max-width: 1200px;
// }
