.carousel-control-next-icon {
  background-image: url("./../assets/forward-arrow.png");
}

.carousel-control-prev-icon {
  background-image: url("./../assets/forward-arrow.png");
  transform: rotate(180deg);
}

.carousel-img {
  height: 80vh;
  @media screen and (max-width: 767px) {
    height: auto;
  }
}

.carousel-caption {
  top: 25%;
  .game-logo {
    max-width: 300px;
  }
  .caption-text {
    font-weight: $medium;
    font-size: 24px;
    line-height: 42px;
    text-align: center;
    max-width: 650px;
    margin: 0 auto;
  }
  .carousel-cta-container {
    margin-top: 70px;
    @include centerFlex;
    .carousel-cta {
      @include button;
      width: 300px;
    }
  }
  @media screen and (max-width: 767px) {
    top: 0%;
    .game-logo {
      max-width: 100px;
    }
    .carousel-cta-container {
      margin-top: 5px;
    }
    .carousel-cta {
      width: 150px !important;
      height: 36px !important;
      line-height: 36px !important;
    }
    .caption-text {
        display: none;
    }
  }
}
