.footer-wrapper {
  background-color: $darkGray;
  color: $white;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  @media screen and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

.copyright {
  font-size: 10px;
}
.copyright img {
  max-width: 90px;
  width: 100%;
  @media screen and (max-width: $break-tablet) {
    max-width: 60px;
  }
}

.footer-child {
  max-width: 350px;
  width: 25%;
  &.small-child {
    max-width: 200px;
  }
  @media screen and (max-width: 1199px) and (min-width: 992px) {
    max-width: 250px;
    &.small-child {
      max-width: 175px;
    }
    width: 33.33%;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 991px) and (min-width: 768px) {
    max-width: 300px;
    &.small-child {
      max-width: 200px;
    }
    width: 50%;
    margin-bottom: 50px;
  }
  @media screen and (max-width: 1199px) {
    max-width: 320px;
    &.small-child {
      max-width: 320px;
    }
    width: 100%;
    max-width: 320px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 1199px) {
  .footer-child:last-child {
    margin-bottom: 0;
  }
}

.footer-link-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 90px;
}

.footer-link {
  text-decoration: none;
  color: $white;
  transition: all 0.3s;
  height: 40px;
  line-height: 40px;
  span {
    margin-left: 10px;
  }
  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: $white;
  }
  @include link;
}
// .social-icon {
//   margin-right: 5px;
//   max-width: 10px;
//   max-height: 20px;
//   &.fb {
//     max-width: 9px;
//   }
//   &.twitter {
//     max-width: 18px;
//   }
//   &.instagram {
//     max-width: 18px;
//   }
// }

.footer-address {
  a {
    color: $white;
    text-decoration: none;
    @include link;
  }
}

.newsletter-form {
  .newsletter {
    display: flex;
  }
  .form-control{
    width: 100%;
    max-width: 230px;
    border: 1px solid $white;
    border-right-color: transparent;
    &:active,
    &:focus {
      border: 1px solid $white !important;
      border-right-color: transparent;
    }
    @media screen and (max-width: 1199px) and (min-width: 992px) {
      max-width: 200px;
    }
  }
  button {
    background-color: $white;
    color: $red;
    box-shadow: none;
    outline: none;
    border: 1px solid $white;
    padding: 0 15px;
    &:hover {
      background-color: $red;
      color: $white;
    }
    &:active,
    &:focus {
      background-color: $buttonActive;
      color: $white;
    }
  }
}
