.featured-player-wrapper {
  width: 100%;
  .featured-player-container {
    // background-image: url("./../assets/featured-player-bg.svg");
    position: relative;
    height: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    .content-container {
      color: $white;
      padding: 100px 0 0;
      .featured-player-name {
        font-size: 48px;
        font-weight: $bold;
        margin-bottom: 20px;
      }
      .featured-player-desc {
        font-size: 30px;
        line-height: 1.2;
      }
      @media screen and (max-width: 767px) {
        .featured-player-name {
          font-size: 20px;
        }
        .featured-player-desc {
          font-size: 16px;
        }
      }
    }
  }
}

.game-card-leaderboard-wrapper {
  border: 1px solid $lightGray;
  .leader-title {
    @include largeTitle;
    font-family: $oswald;
  }
  @media screen and (max-width: 1023px) {
    border-color: transparent;
    .leader-title {
      font-size: 1.5rem;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }
  }
}

.leaderboard-list {
  // margin-bottom: 100px;
  color: $white;
  thead {
    display: block;
    background-color: $altGray;
    > tr th {
      width: 20%;
      min-width: 231px;
      text-align: center;
      border-color: transparent;
      min-height: 50px;
      line-height: 50px;
      text-transform: uppercase;
      &:nth-child(2) {
        text-align: left;
      }
    }
  }
  tbody {
    display: block;
    width: 100%;
    height: 700px;
    overflow-y: auto;
    > tr td {
      width: 20%;
      min-width: 231px;
      border-color: transparent;
      text-align: center;
      min-height: 50px;
      line-height: 50px;
      &:nth-child(2) {
        text-align: left;
        text-transform: uppercase;
      }
    }
    tr:nth-child(odd) {
      background-color: $darkGray;
    }
    tr:nth-child(even) {
      background-color: $altGray;
    }
    tr {
      &:hover {
        background-color: $red;
        font-weight: $medium;
      }
      &.red {
        background-color: $red;
        display: block;
        margin-bottom: 4px;
      }
    }
    @media screen and (max-width: 767px) {
      height: 300px;
    }
  }
}
