.register-section-wrapper {
  width: 100%;
  padding: 80px 0;
  .form-horizontal {
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    @include centerFlex;
    flex-direction: column;
    .form-group {
      max-width: 480px;
      width: 100%;
      position: relative;
      label {
       color: $label;
      }
      .form-control{
        max-width: 100%;
        padding-left: 0;
      }
      .form-control:focus ~ label {
        top: 0;
        font-size: 0.7rem;
      }
    }
    .login-reg-title{
      max-width: 480px;
      color: $white;
      width: 100%;
      text-align: center;
      font-size: 3rem;
      font-weight: $semibold;
      letter-spacing: 3px;
      margin: 0 0 3rem;
      text-transform: uppercase;
    }
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-start;
      margin: 15px 0;
      > div.field-holder {
        width: 100%;
        display: flex;
      }
    }
    // .check-wrap {
    //   max-width: 100%;
    //   width: 100%;
    // }
    .logo-wrapper {
      margin-bottom: 35px;
      img {
        max-width: 350px;
        width: 100%;
      }
    }
    @media screen and (max-width: $break-tablet) {
      max-width: 300px;
      .logo-wrapper {
        img {
          max-width: 280px;
        }
      }
    }
    .check-wrap {
      max-width: 480px;
      width: 100%;
    }
  }
  .body-text{
    a{
      @include link;
    }
  }
}

@media screen and (max-width: 992px) {
  .register-section-wrapper {
    padding: 30px 0;
  }
}
