.register-wrapper {
  width: 100%;
  background-color: #101010;
  padding: 70px 0;
  form {
    font-size: 14px;
  }
  .required-red {
    color: $red;
    font-size: 12px;
  }
  &.login-margin{
    padding: 152px 0;
    @media screen and (max-width: 767px) {
      padding: 70px 0;
    }
  }
}
.register-container {
  .fixed-strip {
    background: #222 url("../assets/register-bg.png");
    background-size: cover;
    background-repeat: repeat;
    min-height: 50px;
    height: 50px;
    max-width: 500px;
    width: 100%;
    margin: 0 auto 0;
    border-radius: 5px 5px 0 0;
    p {
      width: 100%;
      height: 50px;
      padding: 0 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $white;
      font-size: 14px;
      .form-sub-link {
        &:first-child {
          margin-right: 10px;
        }
      }
      a {
        color: $white;
        text-decoration: none;
      }
      @media screen and (max-width: 767px) {
        font-size: 13px;
        .sub-section-head{
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
.register-section-wrapper {
  // max-width: 500px;
  // width: 100%;
  // margin: 0 auto 0;
  // padding: 15px 15px 0;
  // border: 1px solid #e5e5e5;
  // border-radius: 0 0 5px 5px;
  // background-color: $white;
  .section-head {
    border: 1px solid #e5e5e5;
    width: 180px;
    margin-bottom: 25px;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    background: #f5f5f5;
    color: #999;
  }
  .form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    > .fields-holder {
      max-width: 290px;
      width: 100%;
      .checkbox {
        margin-top: 5px;
        label {
          display: flex;
          align-items: center;
        }
        input[type="checkbox"] {
          margin-right: 5px;
        }
      }
      .radio-inline {
        width: 70px;
        margin-bottom: 0;
        height: 38px;
        line-height: 38px;
        input[type="radio"] {
          margin-right: 5px;
        }
        .gender {
          position: absolute;
          margin-top: -2px;
        }
      }
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
      justify-content: flex-start;
      align-self: start;
    }
  }
  .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    @media screen and (max-width: 767px) {
      text-align: left;
    }
  }
  .form-control {
    max-width: 290px;
    width: 100%;
    font-size: 14px;
  }
  .button-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    .trivial-btn {
      background-color: #f8f8f8;
      color: #666;
      margin-left: 20px;
    }
  }
  // .reg-error-parent{
  //   margin: 0;
  //   padding-top: 5px;
  // }
  // .reg-error {
  //   display: block;
  //   font-size: 10px;
  //   color: $red;
  // }
  .input-icon-wrapper {
    max-width: 100%;
    position: relative;
    .icon-green {
      position: absolute;
      right: 10px;
      top: 13px;
      color: green;
    }
  }
}

.registration-success {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 111;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin: 0 auto;
  color: $white;
  text-transform: uppercase;
}
.loading:after {
  content: " .";
  animation: dots 1s steps(5, end) infinite;
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: white;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 white, 0.5em 0 0 white;
  }
}

.loader-parent {
  padding: 10px;
  border-radius: 4px;
  height: 125px;
  margin-bottom: 10px;
}
.loader-spinner {
  width: 32px;
  height: 32px;
  clear: both;
  margin: 20px auto;
  border: 4px rgba($black, 0.25) solid;
  border-top: 4px rgba($black, 1) solid;
  border-radius: 50%;
  -webkit-animation: spCircRot 0.6s infinite linear;
  animation: spCircRot 0.6s infinite linear;
}
@-webkit-keyframes spCircRot {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}
@keyframes spCircRot {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
