.user-profile-wrapper {
  width: 100%;
  background-color: #101010;
  padding: 180px 0 150px;
  min-height: 300px;
  position: relative;
  .logout-btn {
    position: absolute;
    top: 50px;
    right: 50px;
    color: $white;
    text-decoration: underline;
    cursor: pointer;
    z-index: 88;
    @include link;
    @media screen and (max-width: $break-tablet) {
      top: 20px;
      right: 20px;
    }
  }
  .edit-btn {
    span {
      // cursor: pointer;
      // display: inline-block;
      // max-width: 140px;
      // width: 100%;
      // padding: 10px;
      // background-color: $red;
      // color: $white;
      // text-align: center;
      // margin-bottom: 20px;
      @include button;
      max-width: 140px;
    }
  }
  .basic-info-wrapper {
    @include centerFlex;
    flex-direction: column;
    color: $white;
    .title-row {
      font-size: 24px;
      span {
        padding-left: 10px;
      }
    }
    a {
      color: $white;
      text-decoration: underline;
      padding: 0 5px;
    }
  }
  .user-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    .usr-left-sec,
    .usr-right-sec {
      background-color: $altGray;
      border: 1px solid #ddd;
      max-width: 25%;
      width: 100%;
      min-height: 300px;
      padding: 20px;
      color: $white;
      font-family: $oswald;
    }
    .usr-right-sec {
      max-width: 70%;
    }
    .usr-personal {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      color: $white;
    }
    .usr-gamerid {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 2.5;
    }
    .usr-name,
    .usr-loc,
    .usr-social {
      text-transform: uppercase;
      font-size: 1.1rem;
      line-height: 2;
      font-weight: 600;
    }
    .usr-loc {
      i {
        margin-right: 6px;
      }
    }
    .usr-social {
      margin: 20px 0 5px;
    }
    .usr-soc-links {
      max-width: 100px;
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .usr-social-link {
      max-width: 100%;
      width: 100%;
      display: inline-block;
      color: $white;
      margin: 10px 0;
      font-size: 1.2rem;
      font-weight: $light;
      img {
        max-width: 35px;
        margin-right: 10px;
      }
    }
    .usr-title {
      font-size: 1.5rem;
      text-transform: uppercase;
      text-align: center;
    }
    .tile-container {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
    }

    .game-tile {
      max-width: 230px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px solid #ddd;
      .game-img {
        width: 100%;
        img {
          width: 100%;
        }
      }
      .game-head {
        padding: 20px 0 20px;
        width: 100%;
        background-color: $darkGray;
        text-align: center;
        text-transform: uppercase;
        color: $lightGray;
        font-weight: $semibold;
        @include textOverflow;
      }
      .game-others {
        width: 100%;
        padding: 10px;
        > div {
          @include textOverflow;
          line-height: 2;
        }
      }
    }
    @media screen and (max-width: 1023px) {
      flex-direction: column;
      .usr-right-sec,
      .usr-left-sec {
        max-width: 100%;
        margin: 20px 0;
        padding: 15px;
      }
    }
    @media screen and (max-width: 767px) {
      .tile-container {
        flex-direction: column;
      }
      .game-tile {
        max-width: 100%;
        margin-bottom: 20px;
      }
    }
  }
  @media screen and (max-width: $break-tablet) {
    padding: 145px 0 50px;
  }
}

.user-profile {
  position: relative;
  .user-dp-container {
    position: absolute;
    max-width: 100%;
    width: 100%;
    z-index: 77;
    bottom: -120px;
    .user-dp {
      max-width: 25%;
      width: 100%;
      .dp {
        width: 100%;
      }
    }
    @media screen and (max-width: $break-tablet) {
      bottom: -85px;
      .user-dp {
        max-width: 45%;
      }
    }
  }
}

.user-edit-profile {
  .steam-wrap {
    width: 100%;
    @include centerFlex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 50px 0;
    .alert {
      width: 100%;
      text-align: center;
      position: absolute;
      overflow: hidden;
      margin: 0 auto;
      left: 0;
      transition: all 0.3s ease;
    }
  }
  .steam {
    @include button;
    box-shadow: none;
    outline: none;
    border: 1px solid transparent;
    min-width: 150px;
    max-width: 150px;
    width: 100%;
    font-family: sans-serif;
    &:disabled {
      cursor: default;
      background-color: $blue;
      &:hover,
      &:active,
      &:focus {
        background-color: $blue;
      }
    }
  }
  .user-edit-form {
    // max-width: 400px;
    width: 100%;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    color: $white;
    .edit-submit {
      max-width: 200px;
      width: 100%;
      margin: 20px auto;
      @include centerFlex;
    }
  }
}
