//  Heading Styles
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

h1 {
	margin-top: $spacingHeading;
	font-family: $fontFamilyHeadings;
	font-weight: $fontWeightHeadings;
	line-height: $fontLeadingHeadings;
	color: $colorHeadings;
	@include fontsize($fontSize6);
}

h2 {
	margin-top: $spacingHeading;
	font-family: $fontFamilyHeadings;
	font-weight: $fontWeightHeadings;
	line-height: $fontLeadingHeadings;
	color: $colorHeadings;
	@include fontsize($fontSize5);
}

h3 {
	margin-top: $spacingHeading;
	font-family: $fontFamilyHeadings;
	font-weight: $fontWeightHeadings;
	line-height: $fontLeadingHeadings;
	color: $colorHeadings;
	@include fontsize($fontSize4);
}

h4 {
	margin-top: $spacingHeading;
	font-family: $fontFamilyHeadings;
	font-weight: $fontWeightHeadings;
	line-height: $fontLeadingHeadings;
	color: $colorHeadings;
	@include fontsize($fontSize3);
}

h5 {
	margin-top: $spacingHeading;
	font-family: $fontFamilyHeadings;
	font-weight: $fontWeightHeadings;
	line-height: $fontLeadingHeadings;
	color: $colorHeadings;
	@include fontsize($fontSize2);
}

h6 {
	margin-top: $spacingHeading;
	font-family: $fontFamilyHeadings;
	font-weight: $fontWeightHeadings;
	line-height: $fontLeadingHeadings;
	color: $colorHeadings;
	@include fontsize($fontSize1);
}

img.alignleft + h1,
img.alignleft + h2,
img.alignleft + h3,
img.alignleft + h4,
img.alignleft + h5,
img.alignleft + h6,
img.alignright + h1,
img.alignright + h2,
img.alignright + h3,
img.alignright + h4,
img.alignright + h5,
img.alignright + h6,
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
	margin-top: $spacingNoGap;
}

h1 + h2,
h1 + h3,
h1 + h4,
h2 + h3,
h2 + h4,
h2 + h5,
h3 + h4,
h3 + h5,
h3 + h6,
h4 + h5,
h4 + h6,
h5 + h6 {
	margin-top: $spacingParagraph;
}
