//  List Styles
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

ol,
ul {
	margin-top: $spacingList;
	padding: 0 0 0 $spacingL;
}

dl {
	margin-top: $spacingList;
	padding: 0 0 0 $spacingL;
}

h1 + ul,
h2 + ul,
h3 + ul,
h4 + ul,
h5 + ul,
h6 + ul,
h1 + ol,
h2 + ol,
h3 + ol,
h4 + ol,
h5 + ol,
h6 + ol {
	margin-top: $spacingRunOn;
}

ol {
	list-style: decimal;
}

ul {
	list-style: disc;
}

ul ul {
	list-style: square;
}

ul ul ul {
	list-style: circle;
}

li {
	margin-top: $spacingListItem;
	font-weight: $fontWeightBody;
	@include fontsize($fontSizeBody, 18px);
}

dt {
	margin-top: $spacingRunOn;
	font-weight: $fontWeightHeadings;
	font-size: $fontSize2;
}

dd {
	font-size: $fontSizeBody;
	font-weight: $fontWeightBody;
}

dt:first-child,
li:first-child {
	margin-top: $spacingNoGap;
}
