//  Paragraph Styles
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

p {
	margin-top: $spacingParagraph;
	font-weight: $fontWeightBody;
	@include fontsize($fontSizeBody, 18px);
}

h1 + p,
h1 + p,
h2 + p,
h3 + p,
h4 + p,
h5 + p,
h6 + p {
	margin-top: $spacingRunOn;
}

.component-generic-text > div:first-child + p,
img.alignleft + p,
img.alignright + p,
p:first-child {
	margin-top: $spacingNoGap;
}
