// Table Styles
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

table {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	margin-top: $spacingTable;

	&:first-child {
		margin-top: 0;
	}
}

th,
td {
	padding: $spacingXS $spacingS;
}

th {
	font-weight: $fontWeightHeadings;
}

tr th {
	background: darken($colorBackgroundTableRowEven, 0%);
}

tr:nth-child(odd) td {
	background: darken($colorBackgroundTableRowOdd, 0%);
}

tr:nth-child(even) td {
	background: darken($colorBackgroundTableRowEven, 5%);
}
