//
// Brigada Framework  »  Global Variable Definitions
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

//  ::  Global Styles  »  SASS Colour Variables

$colorBlack: #000;
$colorWhite: #fff;

$colorBrandPrimary: #000;
$colorBrandSecondary: #000;
$colorBrandTertiary: #000;
$colorBrandQuaternary: #000;
$colorBrandQuinary: #000;

$colorText: #000;
$colorTextFormLabels: #666;
$colorTextFormFields: #000;
$colorHeadings: inherit;

$colorAnchor: inherit;
$colorAnchorHover: inherit;
$colorPlaceholderText: #aaa;

$colorBackground: #fff;
$colorBackgroundForms: #eee;
$colorBackgroundTableRowOdd: #eee;
$colorBackgroundTableRowEven: #fff;
$colorBorderFormFields: #aaa;
$colorBorderTableRows: #aaa;
$colorHorizontalRule: #ddd;

// WordPress Greys
$colorDarkGrey900: #191e23;
$colorDarkGrey800: #23282d;
$colorDarkGrey700: #32373c;
$colorDarkGrey600: #40464d;
$colorDarkGrey500: #555d66; // Use this most of the time for dark items.
$colorDarkGrey400: #606a73;
$colorDarkGrey300: #6c7781; // Lightest gray that can be used for AA text contrast.
$colorDarkGrey200: #7e8993;
$colorDarkGrey150: #8d96a0; // Lightest gray that can be used for AA non-text contrast.
$colorDarkGrey100: #8f98a1;
$colorLightGrey900: #a2aab2;
$colorLightGrey800: #b5bcc2;
$colorLightGrey700: #ccd0d4;
$colorLightGrey600: #d7dade;
$colorLightGrey500: #e2e4e7; // Good for "grayed" items and borders.
$colorLightGrey400: #e8eaeb; // Good for "readonly" input fields and special text selection.
$colorLightGrey300: #edeff0;
$colorLightGrey200: #f3f4f5;
$colorLightGrey100: #f8f9f9;


//  ::  Global Styles  »  SASS Spacing Variables

$spacingDesignWidth: 1600px;

$spacingBase: 16px;

$spacingXXXS: $spacingBase / 7; // 2px
$spacingXXS: $spacingBase / 5; // 3px
$spacingXS: $spacingBase / 3; // 5px
$spacingS: $spacingBase / 1.5; // 11px
$spacingM: $spacingBase; // 16px
$spacingL: $spacingBase * 1.5; // 24px
$spacingXL: $spacingBase * 2.25; // 36px
$spacingXXL: $spacingBase * 3.5; // 56px
$spacingXXXL: $spacingBase * 4.75; // 76px

$spacingSection: $spacingXL;
$spacingHeading: $spacingL;
$spacingParagraph: $spacingM;
$spacingList: $spacingM;
$spacingListItem: $spacingXS;
$spacingTable: $spacingS;
$spacingFormFields: $spacingM;
$spacingRunOn: $spacingS;
$spacingNoGap: 0;
$spacingColumnGutter: $spacingXL;
$spacingComponentGutter: $spacingL;

$spacingGridSizeSmall: $spacingM / 4;
$spacingGridSize: $spacingM / 2;
$spacingGridSizeLarge: $spacingM;

//  ::  Global Styles  »  SASS Font Variables	(defaults shown with 16/52)

$fontFamilySystem: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
$fontFamilyPrimary: arial, helvetica neue, helvetica, sans-serif;
$fontFamilySecondary: serif;
$fontFamilyTertiary: serif;
$fontFamilyMono: Menlo, Consolas, monaco, monospace;

$fontFamilyBody: $fontFamilyPrimary;
$fontFamilyHeadings: $fontFamilyPrimary;
$fontFamilyForms: $fontFamilyPrimary;
$fontFamilyIcons: site-icons;

$fontWeightBody: 400;
$fontWeightBold: 700;
$fontWeightHeadings: 700;
$fontWeightForms: 400;
$fontWeightIcons: 400;

$fontLeadingBody: 1.45;
$fontLeadingHeadings: 1.15;

$fontSizeBase: 16px;
$fontSizeMax: 52px;
$fontSizeScaleFactor: (($fontSizeMax - $fontSizeBase) / (72 - $fontSizeBase));

// Font size defaults shown with base: 16px and max: 52px
$fontSizeN7: -0.625 * $fontSizeBase + $fontSizeBase; // 6
$fontSizeN6: -0.5 * $fontSizeBase + $fontSizeBase; // 8
$fontSizeN5: -0.4375 * $fontSizeBase + $fontSizeBase; // 9
$fontSizeN4: -0.375 * $fontSizeBase + $fontSizeBase; // 10
$fontSizeN3: -0.3125 * $fontSizeBase + $fontSizeBase; // 11
$fontSizeN2: -0.25 * $fontSizeBase + $fontSizeBase; // 12
$fontSizeN1: -0.125 * $fontSizeBase + $fontSizeBase; // 14
$fontSize0: $fontSizeBase; // 16
$fontSizeBody: $fontSizeBase; // 16
$fontSize1: 0.125 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 17
$fontSize2: 0.3125 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 19
$fontSize3: 0.5 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 21
$fontSize4: 1.25 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 29
$fontSize5: 2 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 36
$fontSize6: 2.75 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 44
$fontSize7: 3.5 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 52

//  ::  Global Styles  »  SASS Responsive Design Variables

$breakpointXXS: 535px;
$breakpointXS: 750px;
$breakpointS: 896px;
$breakpointM: 1024px;
$breakpointL: 1500px;
$breakpointXL: 1920px;
$breakpointXXL: 4096px;

html:after {
	content: "#{$breakpointXXS},#{$breakpointXS},#{$breakpointS},#{$breakpointM},#{$breakpointL},#{$breakpointXL},#{$breakpointXXL}";
	display: none;
}

//  ::  Global Styles  »  SASS Animation Variables

$nodeAnimationLength: 700ms;
$pageAnimationEnterLength: 700ms;
$pageAnimationExitLength: 750ms;