// Brigada Framework  »  CSS Reset
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.
// @platforms		 Edge, IE11+, Chrome, Firefox, Safari, Android 6+, Mobile Safari (iOS 8+)

html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, hr, pre, code, form, fieldset, legend, input, textarea, p, blockquote, figure, figcaption, th, td, small, big {
	margin: 0;
	padding: 0;
	font-size: $fontSizeBody;
}

body {
	text-rendering: optimizeLegibility; // enable ligatures if available

	.tablet &,
	.mobile & {
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
	}
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-size: inherit;
}

address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: $fontWeightBody;
}

fieldset, img {
	border: 0;
	display: block;
}

b, strong {
	font-weight: $fontWeightBold;
}

cite, i, em {
	font-style: italic;
}

big {
	font-size: 120%;
}

small {
	font-size: 85%;
}

h1, h2, h3, h4, h5, h6 {
	font-size: $fontSizeBody;
	font-weight: $fontWeightBody;
}

pre, code {
	font-family: monospace;
	line-height: 100%;
}

caption, th {
	text-align: left;
}

ul, ol {
	list-style: none;
}

q:before, q:after {
	content: '';
}

abbr, acronym {
	border: 0;
	font-variant: normal;
}

sup {
	position: relative;
	display: inline-block;
	vertical-align: 0.3em;
	height: 1.2em;
}

sub {
	position: relative;
	display: inline-block;
	vertical-align: -0.1em;
	height: 1.2em;
}

a.active {
	cursor: default;
}

a:active {
	outline: none;
}

// HTML5 input:placeholder attribute
input.placeholder,
textarea.placeholder {
	color: $colorPlaceholderText;
	font-style: italic;
}

::-webkit-input-placeholder {
	color: $colorPlaceholderText;
	font-style: italic;
}

:-moz-placeholder {
	/* Firefox 18- */
	color: $colorPlaceholderText;
	font-style: italic;
}

::-moz-placeholder {
	/* Firefox 19+ */
	color: $colorPlaceholderText;
	font-style: italic;
}

:-ms-input-placeholder {
	color: $colorPlaceholderText;
	font-style: italic;
}

legend {
	color: $colorText;
}

hr {
	width: 100%;
	height: 1px;
	border: none;
	overflow: hidden;
	background: $colorHorizontalRule;
	color: $colorHorizontalRule;
}

.clearfix {
	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.template {
	display: none !important;
}

.invisible {
	visibility: hidden !important;
}

.prepend {
	&:before {
		content: attr(data-prepend);
		display: inline-block;
	}
}

.append {
	&:after {
		content: attr(data-append);
		display: inline-block;
	}
}

.accessible {
	/* screen reader only content */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.hidden,
.mouse .hidden--mouse,
.touch .hidden--touch {
	display: none !important;
}

// Device breakpoints
@media only screen and (min-width: 0) and (max-width: $breakpointXS) {
	.hidden--mobile {
		display: none !important;
	}
}

@media only screen and (min-width: $breakpointXS + 1) and (max-width: $breakpointM) {
	.hidden--tablet {
		display: none !important;
	}
}

@media only screen and (min-width: $breakpointM + 1) and (max-width: $breakpointXXL) {
	.hidden--desktop {
		display: none !important;
	}
}

// Generic breakpoints

@media only screen and (min-width: 0) and (max-width: $breakpointXXS) {
	.hidden--xxs {
		display: none !important;
	}
}

@media only screen and (min-width: $breakpointXXS+1) and (max-width: $breakpointXS) {
	.hidden--xs {
		display: none !important;
	}
}

@media only screen and (min-width: $breakpointXS+1) and (max-width: $breakpointS) {
	.hidden--s {
		display: none !important;
	}
}

@media only screen and (min-width: $breakpointS+1) and (max-width: $breakpointM) {
	.hidden--m {
		display: none !important;
	}
}

@media only screen and (min-width: $breakpointM+1) and (max-width: $breakpointL) {
	.hidden--l {
		display: none !important;
	}
}

@media only screen and (min-width: $breakpointL+1) and (max-width: $breakpointXL) {
	.hidden--xl {
		display: none !important;
	}
}

@media only screen and (min-width: $breakpointXL+1) and (max-width: $breakpointXXL) {
	.hidden--xxl {
		display: none !important;
	}
}

/*  ::  Global Styles  »  Spacing Overrides  */

body {
	.m-none {
		margin-top: 0 !important;
	}

	.mb-none {
		margin-bottom: 0 !important;
	}

	.m-xxs {
		margin-top: $spacingXXS !important;
	}

	.mb-xxs {
		margin-bottom: $spacingXXS !important;
	}

	.m-xs {
		margin-top: $spacingXS !important;
	}

	.mb-xs {
		margin-bottom: $spacingXS !important;
	}

	.m-s {
		margin-top: $spacingS !important;
	}

	.mb-s {
		margin-bottom: $spacingS !important;
	}

	.m-m {
		margin-top: $spacingM !important;
	}

	.mb-m {
		margin-bottom: $spacingM !important;
	}

	.m-l {
		margin-top: $spacingL !important;
	}

	.mb-l {
		margin-bottom: $spacingL !important;
	}

	.m-xl {
		margin-top: $spacingXL !important;
	}

	.mb-xl {
		margin-bottom: $spacingXL !important;
	}

	.m-xxl {
		margin-top: $spacingXXL !important;
	}

	.mb-xxl {
		margin-bottom: $spacingXXL !important;
	}
}
