/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Account Form  */

.component-account-form {
	padding: 0 0 $spacingXXL * 2 0;

	.format-messages {
		text-align: center;
	}

	.component-inner {
		@include component-narrow;
	}

	.align-right {
		float: right;
	}

	.help {
		margin: $spacingXL 0 $spacingXL 0;
		text-align: center;
		font-size: 16px;
		color: $colorGrey;
		font-weight: 700; /* bold */
		text-transform: uppercase;
	}

	.help + .format-sliding-label {
		margin-top: $spacingXL * -1.1;
	}

	.help + fieldset.main {
		margin-top: $spacingXL * -0.85;
	}

	fieldset {
		padding: $spacingS 0;
	}

	.actions {
		padding: $spacingL 0 0 0;
	}

	button,
	.sso-item {
		display: block;
		@include fontsize(21px, 16px);
		font-family: $fontFamilyPrimary;
		font-weight: 400; /* regular */
		line-height: 1;
		padding: 0.8em 2em;
		text-transform: uppercase;
		border: 0;
		box-sizing: border-box;

		width: 100%;
	}

	.sso {
		position: relative;
		display: block;
		margin: 0;
		padding: 0;
		list-style: none;
	}

	.sso-item {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		margin: $spacingL 0;

		.label {
			padding-left: 0.75em;
			min-width: 7em;
		}

		&.steam {
			background: #003090;
		}

		&.google {
			background: #09aafe;
		}

		&.discord {
			background: #8c9efb;
		}
	}
}

/*  end:  Component  »  Account Form  */