/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Featured Games  */

.component-featured-games {
	scroll-snap-align: start;
	padding: $spacingXXL 0;

	.games {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	.game-item {
		width: calc(33.333% - #{$spacingL * 2 / 3});
		margin: 0 $spacingL / 2 $spacingXXL $spacingL / 2;

		@media (min-width: $breakpointXXS + 1) and (max-width: $breakpointMobile) {
			width: calc(50% - #{$spacingM * 2});

			&:nth-child(2n+1) {
				margin-left: 0;
			}

			&:nth-child(2n+2) {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		@media (max-width: $breakpointXXS) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		@media (min-width: $breakpointDesktop) {
			&:nth-child(3n+1) {
				margin-left: 0;
			}

			&:nth-child(3n+3) {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/*  end:  Component  »  Featured Games  */