/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Footer CTA  */

.component-footer-cta {
	scroll-snap-align: start;
	padding: $spacingXXL 0 $spacingXXL * 1.5 0;

	.links {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	.link-item {
		width: calc(33.333% - #{$spacingL * 2 / 3});
		margin: 0 $spacingL / 2 $spacingL $spacingL / 2;

		@media (min-width: $breakpointXS + 1) and (max-width: 1200px) {
			width: calc(50% - #{$spacingM * 2});

			&:nth-child(2n+1) {
				margin-left: 0;
			}

			&:nth-child(2n+2) {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		@media (max-width: $breakpointXS) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		@media (min-width: 1201px) {
			&:nth-child(3n+1) {
				margin-left: 0;
			}

			&:nth-child(3n+3) {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}

	.link-item {
		position: relative;
		text-align: center;

		a {
			position: relative;
			display: block;
			text-decoration: none;

			@media (hover: hover) {
				&:hover {
					.photo {
						img {
							opacity: 1;
						}

						&:after {
							opacity: 1;
							width: 100%;
						}
					}

					.text {
						color: $colorWhite;
					}
				}
			}
		}

		.photo {
			position: relative;

			img {
				opacity: 0.5;
				@include transition(all, 600ms, ease-in-out, 0ms);
				width: 100%;
			}

			&:after {
				position: absolute;
				display: block;
				bottom: 0;
				left: 0;
				width: 0%;
				background: $colorRed;
				opacity: 0;
				height: 5px;
				@include transition(all, 600ms, ease-in-out, 0ms);
				content: "";
			}
		}

		.text {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;

			p {
				@media (max-width: $breakpointXS) {
					margin: $spacingL 0 0 0;
				}

				@media (max-width: $breakpointXXS) {
					margin: $spacingS 0 0 0;
				}

				line-height: 1.1;
				@include fontsize($fontSizeBase, 14px);
			}

			span {
				@include fontsize(35px, 18px);
			}
		}
	}
}

/*  end:  Component  »  Footer CTA  */