/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Game Masthead  */

.component-game-masthead {
	scroll-snap-align: start;
	overflow: visible;

	z-index: 100;

	.intro {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;
		z-index: 5;

		padding: $spacingXL 0;

		@media (max-width: $breakpointM) {
			flex-direction: column;
			justify-content: center;

			h1 {
				margin: 0 0 $spacingL 0;
				text-align: center;
			}
		}

		h1 {
			@include fontsize(125px, 42px);
			font-weight: 600; /* semibold */
			text-transform: uppercase;

			@media (min-width: $breakpointM + 1) {
				font-size: 72px !important;
			}
		}

		.buy {
			position: relative;
			z-index: 100;

			input {
				/* screen reader only content */
				position: absolute !important;
				clip: rect(1px 1px 1px 1px);
				clip: rect(1px, 1px, 1px, 1px);
				padding: 0 !important;
				border: 0 !important;
				height: 1px !important;
				width: 1px !important;
				overflow: hidden;
			}

			.cta {
				display: inline-block;
				@include fontsize(21px, 16px);
				font-family: $fontFamilyPrimary;
				font-weight: 400; /* regular */
				line-height: 1;
				padding: 8px 30px 12px 30px;
				width: 170px;
				text-align: center;
				text-transform: uppercase;
				border: 0;
				height: 30px;
				cursor: pointer;
				user-select: none;
				-moz-user-select: none;
				-webkit-user-select: none;
				-ms-user-select: none;

				span {
					position: relative;
					top: 4px;
					margin: 0 0 0 $spacingS;
					display: inline-block;
					width: 25px;
					height: 25px;
					background: url(../images/form-dropdown-arrow-white.png) no-repeat 0px 0px;
				}

				@include transition(all, 200ms, linear, 0ms);

				background: $colorRed;
				color: $colorWhite;

				@media (hover: hover) {
					&:hover {
						background: $colorBlue;
					}
				}

				&:active {
					background: $colorDarkRed;
				}

			}

			.providers {
				position: absolute;
				left: 0;
				top: 50px;
				right: 0;
				padding: 10px 0;
				background: $colorBlack;
				z-index: 10000;
				margin: 0;
				list-style: none;
				display: none;

				li {
					margin: 0;
					padding: 0;

					a {
						padding: $spacingS / 2 $spacingS;
						display: block;
						text-align: center;
					}
				}
			}

			&:hover .providers {
				display: block;
			}

			input:checked + .cta + .providers {
				display: block;
			}
		}

	}

	.carousel-container {
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: cover;
		max-width: none;
		padding: 0;
	}

	.carousel {
		position: relative;

		$carouselWidthMobile: 86vw;
		$carouselHeightDesktop: 70vh;

		width: $carouselWidthMobile;
		height: $carouselWidthMobile * 0.5625;
		margin: 0 auto;

		@media (min-width: $breakpointM + 1) and (orientation: landscape) {
			height: $carouselHeightDesktop;
			width: $carouselHeightDesktop * 1.777777;
		}

		.carousel-item {
			position: relative;

			width: $carouselWidthMobile;
			height: $carouselWidthMobile * 0.5625;

			@media (min-width: $breakpointM + 1) and (orientation: landscape) {
				height: $carouselHeightDesktop;
				width: $carouselHeightDesktop * 1.777777;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&.small {
			$carouselWidthMobile: 86vw / 2;
			$carouselHeightDesktop: 70vh / 2;

			width: $carouselWidthMobile;
			height: $carouselWidthMobile * 0.5625;

			@media (min-width: $breakpointM + 1) and (orientation: landscape) {
				height: $carouselHeightDesktop;
				width: $carouselHeightDesktop * 1.777777;
			}

			.carousel-item {
				width: $carouselWidthMobile;
				height: $carouselWidthMobile * 0.5625;

				@media (min-width: $breakpointM + 1) and (orientation: landscape) {
					height: $carouselHeightDesktop;
					width: $carouselHeightDesktop * 1.777777;
				}
			}
		}
	}

	.component-inner:last-child {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: flex-start;
	}

	.game-meta {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		padding: $spacingL 0;

		@media (max-width: $breakpointM) {
			flex-direction: column;
			justify-content: center;
			text-align: center;

			> div {
				width: 100%;
				padding: $spacingM 0;
			}

			> ul {
				margin: 0 auto;
			}
		}
	}

	.publisher {
		position: relative;
		display: block;

		.publisher-name {
			font-family: $fontFamilyTertiary;
			font-size: 25px;
			font-weight: 700; /* bold */
			margin: 0;
		}

		.publisher-type {
			font-size: 20px;
			font-weight: 400; /* regular */
			margin: 0;
		}
	}

	.platforms {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: center;

		.platform-item {
			margin: 0 0 0 $spacingM;

			&:first-child {
				margin: 0;
			}
		}
	}

	.component-inner:not(.carousel-container) + .game-meta,
	.carousel-container.hidden + .game-meta {
		margin-top: $spacingL * -1;
		padding-top: 0;
		padding-bottom: $spacingXL;

		.publisher-name,
		.publisher-type {
			color: $colorVeryLightGrey;
		}
	}
}

/*  end:  Component  »  Game Masthead  */