/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Generic Text  */

.component-generic-text {
	scroll-snap-align: start;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	padding: $spacingXXL 0 $spacingXXL * 1.5 0;

	&.align-center {
		text-align: center;
	}

	&.black-bg {
		h1, h2, h3, h4, h5, h6, li, p {
			color: $colorWhite;
		}
	}

	&.white-bg {
		background-color: $colorWhite;

		h1, h2, h3, h4, h5, h6, li, p {
			color: $colorBlack;
		}
	}
}

/*  end:  Component  »  Generic Text  */