/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Homepage Masthead  */

.component-homepage-masthead {
	scroll-snap-align: start;
	background: $colorVeryDarkBlue url(../images/homepage-masthead-bg.png) no-repeat 50% 35%;
	background-size: auto 75%;

	height: 56.25vw;
	min-height: 380px;
	max-height: calc(100vh - #{$headerHeightHamburger});

	@media (min-width: $breakpointMenuFull) {
		max-height: calc(100vh - #{$headerHeightFull});
	}


	.media {
		position: relative;
		width: 100%;
		height: 100%;

		video,
		img {
			position: absolute;

			@supports (object-fit: cover) {
				left: 0;
				width: 100%;
				height: 100%;
				top: 0;
				object-fit: cover;
			}

			@supports (-ms-ime-align: auto) {
				min-width: 100%;
				min-height: 100%;
				width: auto;
				height: auto;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
			}
		}
	}

	.scroll-cta {
		position: absolute;
		left: 50%;
		bottom: $spacingXL;
		z-index: 100;
		@include transform(translateX(-50%));

		@media (max-width: $breakpointXS) {
			display: none;
		}

		a {
			border: none !important;
			overflow: visible;
			text-align: center;
			opacity: 1;
			height: auto;
			bottom: 13px;
			-webkit-animation: nudgeMouse 2.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;
			animation: nudgeMouse 2.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) infinite;

			&:before {
				position: absolute;
				content: '';
				display: block;
				left: 50%;
				margin-left: -1px;
				top: 22px;
				background-color: rgba(255, 255, 255, 0.5);
				width: 2px;
				height: 6px;
				border-radius: 10px;
				transition: background-color .55s cubic-bezier(.5, .1, .07, 1);
				-webkit-animation: trackBallSlide 2.4s cubic-bezier(0.000, 0.000, 0.725, 1.000) infinite;
				animation: trackBallSlide 2.4s cubic-bezier(0.000, 0.000, 0.725, 1.000) infinite
			}

			&:after {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				display: block;
				width: 30px;
				height: 45px;
				margin-left: -15px;
				border: 2px solid rgba(255, 255, 255, 0.5);
				border-radius: 30px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				z-index: 62
			}
		}

		.scroll-icon {
			width: 30px;
			height: 45px;
			text-align: center;
			cursor: pointer;
			position: relative;
			z-index: 100
		}

		.scroll-icon-path {
			fill: transparent;
			stroke-width: 2px;
			stroke-dashoffset: 120;
			stroke-dasharray: 120;
			-webkit-animation: mouse-scroll-btn-roll-out .55s cubic-bezier(.5, .1, .07, 1);
			animation: mouse-scroll-btn-roll-out .55s cubic-bezier(.5, .1, .07, 1)
		}

		@media (hover: hover) {
			&:hover a:before {
				background-color: rgba(255, 255, 255, 1)
			}

			&:hover .scroll-icon-path {
				stroke-dashoffset: 0;
				-webkit-animation: mouse-scroll-btn-roll-over .55s cubic-bezier(.5, .1, .07, 1);
				animation: mouse-scroll-btn-roll-over .55s cubic-bezier(.5, .1, .07, 1)
			}
		}
	}


	@-webkit-keyframes mouse-scroll-btn-roll-over {
		0% {
			stroke-dashoffset: 120
		}
		100% {
			stroke-dashoffset: 0
		}
	}
	@keyframes mouse-scroll-btn-roll-over {
		0% {
			stroke-dashoffset: 120
		}
		100% {
			stroke-dashoffset: 0
		}
	}
	@-webkit-keyframes mouse-scroll-btn-roll-out {
		0% {
			stroke-dashoffset: 0
		}
		100% {
			stroke-dashoffset: -120
		}
	}
	@keyframes mouse-scroll-btn-roll-out {
		0% {
			stroke-dashoffset: 0
		}
		100% {
			stroke-dashoffset: -120
		}
	}

	@-webkit-keyframes trackBallSlide {
		0% {
			opacity: 1;
			-webkit-transform: scaleY(1) translateY(-10px);
			transform: scaleY(1) translateY(-10px)
		}
		45% {
			opacity: 0;
			-webkit-transform: scaleY(0.5) translateY(13px);
			transform: scaleY(0.5) translateY(13px)
		}
		46% {
			opacity: 0;
			-webkit-transform: scaleY(1) translateY(-10px);
			transform: scaleY(1) translateY(-10px)
		}
		65%, 100% {
			opacity: 1;
			-webkit-transform: scaleY(1) translateY(-10px);
			transform: scaleY(1) translateY(-10px)
		}
	}
	@keyframes trackBallSlide {
		0% {
			opacity: 1;
			-webkit-transform: scaleY(1) translateY(-10px);
			transform: scaleY(1) translateY(-10px)
		}
		45% {
			opacity: 0;
			-webkit-transform: scaleY(0.5) translateY(13px);
			transform: scaleY(0.5) translateY(13px)
		}
		46% {
			opacity: 0;
			-webkit-transform: scaleY(1) translateY(-10px);
			transform: scaleY(1) translateY(-10px)
		}
		65%, 100% {
			opacity: 1;
			-webkit-transform: scaleY(1) translateY(-10px);
			transform: scaleY(1) translateY(-10px)
		}
	}
	@keyframes nudgeMouse {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0)
		}
		45% {
			-webkit-transform: translateY(8px);
			transform: translateY(8px)
		}
		65%, 100% {
			-webkit-transform: translateY(0);
			transform: translateY(0)
		}
	}
	@-webkit-keyframes nudgeMouse {
		0% {
			-webkit-transform: translateY(0);
			transform: translateY(0)
		}
		45% {
			-webkit-transform: translateY(8px);
			transform: translateY(8px)
		}
		65%, 100% {
			-webkit-transform: translateY(0);
			transform: translateY(0)
		}
	}
}

/*  end:  Component  »  Homepage Masthead  */