/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Leaderboards  */

.component-leaderboards {
	scroll-snap-align: start;
	padding: $spacingXXL * 1.25 0 $spacingXXL * 2 0;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	.platform-selection {
		.tabs {
			margin: 0 0 $spacingXL 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			display: none;

			.tab-item {
				margin: 0 $spacingXS;
				border: 1px solid $colorLightGrey;
				padding: 0;
				font-size: 24px;

				@media (hover: hover) {
					&:hover {
						span, a {
							color: $colorRed;
						}
					}
				}
			}

			span, a {
				display: block;
				padding: $spacingS $spacingM;
				min-width: 4em;
				text-align: center;
				color: $colorVeryLightGrey;
			}

			.active span, .active a {
				color: $colorWhite !important;
				font-weight: 700; /* bold */
				cursor: default;
			}
		}

		.dropdown {
			display: none;
		}

		@media (max-width: $breakpointMobile) {
			.dropdown {
				display: block;
			}
		}

		@media (min-width: $breakpointDesktop) {
			.tabs {
				display: flex;
			}
		}
	}

	.leaderboards {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: flex-start;
	}

	.leaderboard-item {
		position: relative;
		width: calc(33.333% - #{$spacingL * 2 / 3});
		margin: 0 $spacingL / 2 $spacingXXL $spacingL / 2;

		border: 1px solid $colorGrey;
		box-sizing: border-box;
		padding: $spacingS $spacingS $spacingXL + $spacingXS $spacingS;

		h3 {
			margin: $spacingS 0 $spacingL 0;
			@include fontsize(28px, 21px);
			font-weight: 300; /* light */
			text-align: center;
		}

		th {
			font-size: 15px;
		}

		td {
			font-size: 14px;
			font-weight: 300; /* light */
		}

		.cta {
			position: absolute;
			top: 100%;
			left: 50%;
			@include transform(translate(-50%, -50%));
			background: $colorCharcoal;
			white-space: nowrap;
		}

		@media (min-width: $breakpointM + 1) and (max-width: $breakpointL) {
			width: calc(50% - #{$spacingM * 2});

			&:nth-child(2n+1) {
				margin-left: 0;
			}

			&:nth-child(2n+2) {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}

		@media (max-width: $breakpointM) {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
		}

		@media (min-width: $breakpointL + 1) {
			&:nth-child(3n+1) {
				margin-left: 0;
			}

			&:nth-child(3n+3) {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

/*  end:  Component  »  Leaderboards  */