/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Leaderboard Single  */

.component-leaderboard-single {
	scroll-snap-align: start;
	padding: $spacingXXL * 1.5 0 $spacingXXL * 2 0;

	@media (max-width: $breakpointM) {
		padding: $spacingXXL 0;
	}

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	.intro {
		@media (max-width: $breakpointM) {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			.format-section-title {
				margin: 0 0 $spacingS 0;
				width: 100%;
			}

			.left {
				display: none;
			}

			.right {
				order: 4;
				margin: $spacingS 0 $spacingXL 0;
			}
		}

		@media (min-width: $breakpointM + 1) {
			.left {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 10;
			}

			.right {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 10;
			}

			.format-section-title {
				position: relative;
				top: -0.12em;
				padding: 0 250px;
			}

			.format-section-subtitle {
				padding: 0 250px;
			}
		}
	}

	.platform-selection {
		.tabs {
			margin: 0 0 $spacingXL 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			display: none;

			.tab-item {
				margin: 0 $spacingXS;
				border: 1px solid $colorLightGrey;
				padding: 0;
				font-size: 24px;

				@media (hover: hover) {
					&:hover {
						span, a {
							color: $colorRed;
						}
					}
				}
			}

			span, a {
				display: block;
				padding: $spacingS $spacingM;
				min-width: 4em;
				text-align: center;
				color: $colorVeryLightGrey;
			}

			.active span, .active a {
				color: $colorWhite !important;
				font-weight: 700; /* bold */
				cursor: default;
			}
		}

		.dropdown {
			display: none;
		}

		@media (max-width: $breakpointM) {
			.dropdown {
				display: block;
			}
		}

		@media (min-width: $breakpointM + 1) {
			.tabs {
				display: flex;
			}
		}
	}

	.format-pagination {
		margin: $spacingM $spacingM $spacingL * -1 $spacingM;
	}

	.cta {
		text-align: center;
	}
}

/*  end:  Component  »  Leaderboard Single  */