/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Media and Text  */

.component-media-text {
	scroll-snap-align: start;

	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;

	padding: $spacingXXL 0;
	@media (min-width: $breakpointM) {
		padding: $spacingXXL * 1.5 0;
	}

	.component-inner {
		display: grid;
		grid-template-columns: 1fr 4vw 1fr;
		grid-template-rows: auto;
	}

	&.text-center .component-inner {
		display: block;
	}

	.intro {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-end;
		align-items: flex-start;

		.format-section-title,
		h2 {
			margin: 0 0 $spacingXL 0 !important;
		}
	}

	.photo {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		img {
			max-width: 100%;
		}
	}

	.text {
		.component-feedback-box {
			margin-top: $spacingXXL;
		}

		> p {
			max-width: 32em;
		}
	}

	&.text-left {
		.intro {
			grid-column: 1;
			grid-row: 1;

			h2 {
				text-align: left;
			}

			&.animation.slide {
				transform: translateX(-30%);
			}
		}

		.photo {
			grid-column: 3;
			grid-row-start: 1;
			grid-row-end: 3;

			&.animation.slide {
				transform: translateX(30%);
			}
		}

		.text {
			grid-column: 1;
			grid-row: 2;

			&.animation.slide {
				transform: translateX(-30%);
			}
		}
	}

	&.text-right {
		.intro {
			grid-column: 3;
			grid-row: 1;

			h2 {
				text-align: left;
			}

			&.animation.slide {
				transform: translateX(30%);
			}
		}

		.photo {
			grid-column: 1;
			grid-row-start: 1;
			grid-row-end: 3;

			&.animation.slide {
				transform: translateX(-30%);
			}
		}

		.text {
			grid-column: 3;
			grid-row: 2;

			&.animation.slide {
				transform: translateX(30%);
			}
		}
	}

	&.text-center {
		text-align: center;

		.intro {
			margin: 0 0 $spacingXL 0;
			align-items: center;

			&.animation.slide {
				transform: translateX(-30%);
			}
		}

		.photo {
			margin: 0 0 $spacingXL 0;

			&.animation.slide {
				transform: translateX(30%);
			}

			img {
				width: auto;
				max-width: 100%;
				margin: 0 auto;
			}
		}

		.text {
			p {
				margin-left: auto;
				margin-right: auto;
			}

			&.animation.slide {
				transform: translateX(-30%);
			}
		}
	}

	@media (max-width: $breakpointMobile) {
		text-align: center;

		.component-inner {
			display: block;
		}

		.intro {
			align-items: center;

			&.animation.slide {
				transform: translateX(0%) !important;
			}

			h2 {
				text-align: center !important;
			}
		}

		.photo {
			margin: 0 0 $spacingXL 0;

			&.animation.slide {
				transform: translateX(0%) !important;
			}

			img {
				width: auto;
				max-width: 100%;
				margin: 0 auto;

				@supports (object-fit: contain) {
					width: 100%;
					height: 100%;
					object-fit: contain;
					max-height: 35vh;
				}
			}
		}

		.text {
			text-align: center;

			&.animation.slide {
				transform: translateX(0%) !important;
			}

			p {
				margin-left: auto;
				margin-right: auto;
			}
		}
	}

	&.black-bg {
		h1, h2, h3, h4, h5, h6, li, p {
			color: $colorWhite;
		}
	}

	&.white-bg {
		background-color: $colorWhite;

		h1, h2, h3, h4, h5, h6, li, p {
			color: $colorBlack;
		}
	}
}

/*  end:  Component  »  Media and Text  */