/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  Page Title  */

.component-page-title {
	scroll-snap-align: start;
	padding: $spacingXL 0;

	h1 {
		font-family: $fontFamilySecondary;
		font-weight: 700; /* bold */
		@include fontsize(100px, 40px);
		text-transform: uppercase;
		color: $colorWhite;
		text-align: center;
	}
}

/*  end:  Component  »  Page Title  */