/*
* Component
*
* @author				Matt Gifford
* @copyright			2020 Brigada Limited
*/

/*  begin:  Component  »  User Profile  */

.component-user-profile {
	scroll-snap-align: start;
	border-top: 2px solid $colorRed;

	padding: $spacingXXL 0;
	z-index: 10;
	overflow: visible;

	.profile-details {
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: 280px 20px 8fr 20px 5fr 20px 5fr;
		grid-template-rows: auto;

		@media (max-width: 1300px) {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: flex-start;

			> div {
				width: 100%;
				box-sizing: border-box;
				margin: $spacingL 0 0 0;
			}

			.photo {
				margin: #{($spacingXXL + 110px) * -1} 0 0 0;
				width: 220px !important;
			}
		}


		.photo {
			position: relative;
			grid-row: 1;
			grid-column: 1;

			img {
				width: 100%;
				box-sizing: border-box;
				border: 2px solid $colorRed;
			}

			.edit {
				position: absolute;
				top: $spacingM;
				right: $spacingM;
				opacity: 0;
				@include transition(all, 200ms, linear, 0ms);
				cursor: pointer;
			}

			&:hover {
				.edit {
					opacity: 1;
				}
			}
		}

		.bio,
		.top-ranking,
		.platform-ids {
			background: #333;
			border: 2px solid $colorLightGrey;
			padding: $spacingM $spacingL;

			.edit {
				float: right;
				cursor: pointer;
			}
		}

		.bio {
			grid-row: 1;
			grid-column: 3;

			.username {
				margin: 0;
				font-size: 50px;
				font-weight: 700; /* bold */
			}

			.name {
				margin: 0;
				font-size: 25px;
				font-family: $fontFamilySecondary;
				font-weight: 700; /* bold */
				text-transform: uppercase;
			}

			.location {
				margin: 0;
				font-size: 25px;
				font-family: $fontFamilySecondary;
				font-weight: 700; /* bold */
				text-transform: uppercase;
			}

			h3 {
				font-size: 25px;
				margin: $spacingL 0 0 0;
				font-weight: 700; /* bold */
				font-family: $fontFamilySecondary;
			}

			ul {
				position: relative;
				margin: 0;
				padding: 0;
				list-style: none;
				overflow: hidden;

				li {
					padding: 0;
					float: left;
					margin: $spacingS $spacingS 0 $spacingS;

					&:first-child {
						margin-left: 0;
					}
				}
			}
		}

		.top-ranking {
			grid-row: 1;
			grid-column: 5;

			display: flex;
			flex-wrap: nowrap;
			flex-direction: column;
			justify-content: space-between;
			align-items: center;

			h3 {
				font-size: 25px;
				font-weight: 700; /* bold */
				font-family: $fontFamilySecondary;
				margin: 0;
			}

			.rank {
				margin: $spacingM 0;
				font-size: 72px;
				font-weight: 700; /* bold */

			}

			.cta {
				font-family: $fontFamilyPrimary;
				font-size: 18px;
				margin: 0;
			}
		}

		.platform-ids {
			grid-row: 1;
			grid-column: 7;


			h3 {
				margin: 0 0 $spacingL 0;
				font-size: 25px;
				font-weight: 700; /* bold */
			}

			.platforms {
				margin: 0;
				padding: 0;
				list-style: none;
			}

			.platform-item {
				margin: 0;
				padding: $spacingXS 0;
				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;

				.username {
					padding: 0 $spacingS;
				}
			}
		}
	}

	.profile-rankings {
		h2 {
			margin: $spacingXXL 0 $spacingL 0;
			font-size: 25px;
			font-weight: 700; /* bold */
			text-transform: uppercase;
		}

		.leaderboards {
			position: relative;
			display: flex;
			margin: 0;
			padding: 0;
			list-style: none;
			flex-wrap: wrap;
			justify-content: flex-start;
			align-items: stretch;
		}

		.leaderboard-item {
			margin: 0;
			padding: 0;
			margin-bottom: $spacingXL;

			@media (min-width: $breakpointL + 1) {
				width: calc((100% / 6) - (20px * 5 / 6));
				margin-left: 20px;

				&:nth-child(6n + 1) {
					margin-left: 0;
				}
			}

			@media (min-width: $breakpointM + 1) and (max-width: $breakpointL) {
				width: calc((100% / 5) - (20px * 4 / 5));
				margin-left: 20px;

				&:nth-child(5n + 1) {
					margin-left: 0;
				}
			}

			@media (min-width: $breakpointS + 1) and (max-width: $breakpointM) {
				width: calc((100% / 4) - (20px * 3 / 4));
				margin-left: 20px;

				&:nth-child(4n + 1) {
					margin-left: 0;
				}
			}

			@media (min-width: $breakpointXS + 1) and (max-width: $breakpointS) {
				width: calc((100% / 3) - (20px * 2 / 3));
				margin-left: 20px;

				&:nth-child(3n + 1) {
					margin-left: 0;
				}
			}

			@media (max-width: $breakpointXS) {
				width: 100%;
				margin-left: 0;

				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-start;
				align-items: center;

				.photo {
					width: 40%;
				}

				.text {
					position: relative;
					width: 60%;
					box-sizing: border-box;
					padding: $spacingS !important;
					text-align: center;

					display: flex;
					flex-direction: column;
					flex-wrap: nowrap;
					justify-content: center;
					align-items: center;
				}
			}

			.photo {
				img {
					width: 100%;
				}
			}

			.text {
				position: relative;
				padding: $spacingS 0 0 0;
				text-align: center;

				.game-title {
					text-transform: uppercase;
					font-size: 25px;
					color: $colorWhite;
					margin: 0 0 3px 0;
				}

				.leaderboard-title {
					text-transform: uppercase;
					margin: 0 0 $spacingS 0;
					@include fontsize(18px, 14px);
					color: $colorVeryLightGrey;
					font-weight: 700; /* bold */
				}

				p {
					margin: 0;
					@include fontsize(18px, 14px);
					color: $colorLightGrey;
				}
			}
		}
	}

}

/*  end:  Component  »  User Profile  */