// Site  »  Common Animations Style Definitions
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

.animation.fade-in {
	opacity: 0;
	transition: opacity $nodeAnimationLength * 2 linear 0ms;

	&.animate {
		opacity: 1;
	}
}

.animation.fade-in-fast {
	opacity: 0;
	transition: opacity $nodeAnimationLength * 1.5 ease 0ms;

	&.animate {
		opacity: 1;
	}
}

.animation.fade-in-slow {
	opacity: 0;
	transition: opacity $nodeAnimationLength * 1.25 ease-in $nodeAnimationLength / 3;

	&.animate {
		opacity: 1;
	}
}

.animation.scale-up {
	transform: scale(0.5);
	opacity: 0;
	transition: all $nodeAnimationLength * 0.75 linear 0ms;


	&.animate {
		transform: scale(1);
		opacity: 1;
	}
}

.animation.expand-left {
	transition: all $nodeAnimationLength * 0.5 linear 0ms;
	clip-path: inset(0px 0px 0 100%);

	&.animate {
		clip-path: inset(0px 0px 0px 0px);
	}

	h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
		transition: all $nodeAnimationLength linear $nodeAnimationLength;
		opacity: 0;
	}

	&.animate {

		h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
			opacity: 1;
		}
	}
}

.animation.expand-right {
	transition: all $nodeAnimationLength * 0.5 linear 0ms;
	clip-path: inset(0px 100% 0px 0px);

	&.animate {
		clip-path: inset(0px 0px 0px 0px);
	}

	h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
		transition: all $nodeAnimationLength linear $nodeAnimationLength;
		opacity: 0;
	}

	&.animate {
		h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
			opacity: 1;
		}
	}
}

.animation.expand-down {
	transition: all $nodeAnimationLength linear 0ms;
	clip-path: inset(0px 0px 100% 0px);

	&.animate {
		clip-path: inset(0px 0px 0px 0px);
	}

	h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
		transition: all $nodeAnimationLength linear $nodeAnimationLength;
		opacity: 0;
	}

	&.animate {
		h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
			opacity: 1;
		}
	}
}

.animation.expand-up {
	transition: all $nodeAnimationLength linear 0ms;
	clip-path: inset(100% 0px 0px 0px);

	&.animate {
		clip-path: inset(0px 0px 0px 0px);
	}

	h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
		transition: all $nodeAnimationLength linear $nodeAnimationLength;
		opacity: 0;
	}

	&.animate {
		h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
			opacity: 1;
		}
	}
}

.animation.transform-down {
	@include origin(50% 0%);
	transform: scale(1, 0);
	transition: all $nodeAnimationLength linear 0ms;

	&.animate {
		transform: scale(1, 1);
	}

	h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
		transition: all $nodeAnimationLength linear $nodeAnimationLength;
		opacity: 0;
	}

	&.animate {
		h1, h2, h3, h4, h5, h6, p, li, img:not(.animate), svg, a {
			opacity: 1;
		}
	}
}

.animation.slide,
.animation.slide-from-left {
	position: relative;
	transform: translateX(-30%);
	transition: transform $nodeAnimationLength linear 0ms, opacity $nodeAnimationLength linear 100ms;
	opacity: 0;

	&.animate {
		transform: translateX(0) !important;
		opacity: 1;
	}
}

.animation.slide-from-right {
	position: relative;
	transform: translateX(30%);
	transition: transform $nodeAnimationLength linear 0ms, opacity $nodeAnimationLength linear 100ms;
	opacity: 0;

	&.animate {
		transform: translateX(0);
		opacity: 1;
	}
}


.animation.fade-in-up {
	opacity: 0;
	@include transform(translateY(3vw));
	transition: all $nodeAnimationLength * 2 linear 0ms;

	&.animate {
		@include transform(translateY(0vw));
		opacity: 1;
	}
}

.animation.delay1 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3);
}

.animation.delay2 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3 * 2);
}

.animation.delay3 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3 * 3);
}

.animation.delay4 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3 * 4);
}

.animation.delay5 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3 * 5);
}

.animation.delay6 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3 * 6);
}

.animation.delay7 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3 * 7);
}

.animation.delay8 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3 * 8);
}

.animation.delay9 {
	transition: all $nodeAnimationLength linear ($nodeAnimationLength / 3 * 9);
}