// Site  »  Global Variable Definitions
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

//  ::  Global Styles  »  SASS Colour Variables

$colorBlack: #000;
$colorWhite: #fff;

$colorOffWhite: #FFF8E2;

$colorRed: #c3100e;
$colorDarkRed: #800c0b;
$colorVeryDarkRed: #400606;

$colorBlue: #003090;
$colorDarkBlue: #081680;
$colorVeryDarkBlue: #001738;

$colorPink: #fe6e6e;

$colorCharcoal: #161616;
$colorDarkGrey: #333333;
$colorGrey: #525151;
$colorLightGrey: #727272;
$colorVeryLightGrey: #bababa;


$colorBrandPrimary: #000;
$colorBrandSecondary: #000;
$colorBrandTertiary: #000;
$colorBrandQuaternary: #000;
$colorBrandQuinary: #000;

$colorText: $colorWhite;
$colorTextFormLabels: $colorVeryLightGrey;
$colorTextFormFields: $colorWhite;
$colorHeadings: inherit;

$colorAnchor: $colorWhite;
$colorAnchorHover: $colorRed;
$colorPlaceholderText: #aaa;

$colorBackground: $colorCharcoal;
$colorBackgroundForms: #eee;
$colorBackgroundTableRowOdd: #161616;
$colorBackgroundTableRowEven: #262626;
$colorBorderFormFields: $colorVeryLightGrey;
$colorBorderTableRows: $colorVeryLightGrey;
$colorHorizontalRule: $colorVeryLightGrey;

//  ::  Global Styles  »  SASS Spacing Variables

$spacingDesignWidth: 1920px;

$spacingBase: 16px;

$spacingXXXS: $spacingBase / 7; // 2px
$spacingXXS: $spacingBase / 5; // 3px
$spacingXS: $spacingBase / 3; // 5px
$spacingS: $spacingBase / 1.5; // 11px
$spacingM: $spacingBase; // 16px
$spacingL: $spacingBase * 1.5; // 24px
$spacingXL: $spacingBase * 2.25; // 36px
$spacingXXL: $spacingBase * 3.5; // 56px
$spacingXXXL: $spacingBase * 4.75; // 76px

$spacingSection: $spacingXXL;
$spacingHeading: $spacingXL;
$spacingParagraph: $spacingM;
$spacingList: $spacingM;
$spacingListItem: $spacingXS;
$spacingTable: $spacingS;
$spacingFormFields: $spacingM;
$spacingRunOn: $spacingM;
$spacingNoGap: 0;

$spacingColumnGutter: $spacingXL;
$spacingContentNarrow: 600px;
$spacingContentWide: 86vw;
$spacingComponentGutter: $spacingL;
$spacingComponentLeading: 0;

//  ::  Global Styles  »  SASS Font Variables	(defaults shown with 16/52)

$fontFamilyPrimary: roboto, sans-serif;
$fontFamilySecondary: oswald, sans-serif;
$fontFamilyTertiary: roboto condensed, sans-serif;

$fontFamilyBody: $fontFamilyPrimary;
$fontFamilyHeadings: $fontFamilySecondary;
$fontFamilyForms: $fontFamilyPrimary;
$fontFamilyIcons: site-icons;

$fontWeightBody: 400;
$fontWeightBold: 700;
$fontWeightHeadings: 700;
$fontWeightForms: 400;
$fontWeightIcons: 400;

$fontLeadingBody: 1.45;
$fontLeadingHeadings: 1.15;

$fontSizeBase: 21px;
$fontSizeMax: 108px;
$fontSizeScaleFactor: (($fontSizeMax - $fontSizeBase) / (72 - $fontSizeBase));

// Font size defaults shown with base: 16px and max: 52px
$fontSizeN7: -0.625 * $fontSizeBase + $fontSizeBase; // 6
$fontSizeN6: -0.5 * $fontSizeBase + $fontSizeBase; // 8
$fontSizeN5: -0.4375 * $fontSizeBase + $fontSizeBase; // 9
$fontSizeN4: -0.375 * $fontSizeBase + $fontSizeBase; // 10
$fontSizeN3: -0.3125 * $fontSizeBase + $fontSizeBase; // 11
$fontSizeN2: -0.25 * $fontSizeBase + $fontSizeBase; // 12
$fontSizeN1: -0.125 * $fontSizeBase + $fontSizeBase; // 14
$fontSize0: $fontSizeBase; // 16
$fontSizeBody: $fontSizeBase; // 16
$fontSize1: 0.125 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 17
$fontSize2: 0.3125 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 19
$fontSize3: 0.5 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 21
$fontSize4: 1.25 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 29
$fontSize5: 2 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 36
$fontSize6: 2.75 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 44
$fontSize7: 3.5 * $fontSizeBase * $fontSizeScaleFactor + $fontSizeBase; // 52

//  ::  Global Styles  »  SASS Responsive Design Variables

$breakpoint3XS: 320px;
$breakpointXXS: 535px;
$breakpointXS: 750px;
$breakpointS: 896px;
$breakpointM: 1024px;
$breakpointL: 1500px;
$breakpointXL: 1920px;
$breakpointXXL: 4096px;

$breakpointMobile: 896px;
$breakpointDesktop: 897px;

$breakpointMenuHamburger: 1200px;
$breakpointMenuFull: 1201px;


$headerHeightHamburger: 75px;
$headerHeightFull: 125px;


html:after {
	content: "#{$breakpointXXS},#{$breakpointXS},#{$breakpointS},#{$breakpointM},#{$breakpointL},#{$breakpointXL},#{$breakpointXXL}";
	display: none;
}

//  ::  Global Styles  »  SASS Animation Variables

$nodeAnimationLength: 600ms;
$pageAnimationEnterLength: 700ms;
$pageAnimationExitLength: 750ms;