// Site  »  Component Style Definitions
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

.component {
	@include component;
	overflow: hidden;
}

.component-inner {
	@include component-wide;
}
