// Site  »  Global Style Definitions
//
// @author           Matt Gifford
// @copyright        2020 Brigada Limited. All rights reserved.

/*  ::  Global Styles  »  Base Styles (incl background images)	*/

html {
	scroll-snap-type: y proximity;
	scroll-padding: $headerHeightHamburger;

	@media (min-width: $breakpointMenuFull) {
		scroll-padding: $headerHeightFull;

		&.page-scrolled {
			scroll-padding: #{$headerHeightFull - 25px};
		}
	}
}

body {
	font-family: $fontFamilyBody;
	font-size: $fontSizeBase;
	font-weight: $fontWeightBody;
	line-height: $fontLeadingBody;

	background: $colorBackground;
	color: $colorText;
}

select, input, textarea {
	font-weight: $fontWeightForms;
	font-family: $fontFamilyForms;
}

a {
	color: $colorAnchor;
	text-decoration: none;
}

@media (hover: hover) {
	a:hover {
		color: $colorAnchorHover;
	}
}

a:active {
	color: $colorPink;
}


/*  ::  Page Styles  »  Header		*/

#header {
	position: fixed;
	width: 100%;
	z-index: 100;
	background: $colorBlack;
	height: $headerHeightHamburger;
	@include transition(height, 300ms, linear, 0ms);

	@media (min-width: $breakpointMenuFull) {
		height: $headerHeightFull;

		.page-scrolled & {
			height: $headerHeightFull - 25px;
		}
	}

	.header-inner {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.header-logo {
		position: absolute;
		top: 50%;
		left: 50%;
		@include transform(translate(-50%, -50%));
		height: 72%;
		max-height: 90px;

		img {
			height: 100%;
		}

		z-index: 10;
	}

	.header-nav {
		a {
			color: $colorWhite;
			text-decoration: none;
			@include transition(color, 150ms, linear, 0ms);

			&.active {
				color: $colorVeryLightGrey;
			}

			@media (hover: hover) {
				&:hover {
					color: $colorRed;
				}
			}

			&:active {
				color: $colorDarkRed;
			}
		}

		@media (max-width: $breakpointMenuHamburger) {
			position: fixed;
			top: 75px;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0, 0, 0, 0);
			overflow-y: auto;
			transition: transform 0ms linear 300ms, opacity 200ms linear 100ms, background 100ms linear 0ms;
			opacity: 0;
			@include transform(translateY(-110%));

			.header-nav-active & {
				top: 75px;
				opacity: 1;
				@include transform(translateY(0%));
				background: rgba(0, 0, 0, 0.7);
				transition: transform 0ms linear 0ms, opacity 300ms linear 0ms, background 200ms linear 100ms;
			}

			.header-nav-primary {
				position: relative;
				margin: 0;
				padding: 15px 0;
				list-style: none;
				box-sizing: border-box;

				.nav-item {
					position: relative;
					display: block;
					margin: 0;
					padding: 0 10px;
					text-align: center;

					font-size: 28px;
					font-family: $fontFamilyPrimary;
					font-weight: 700; /* bold */
					text-transform: uppercase;

					a {
						display: block;
						padding: 10px;
					}

					&.account {
						a {
							display: inline-block;
						}

						display: flex;
						flex-direction: column;
						flex-wrap: nowrap;
						justify-content: center;
						align-items: center;

						span {
							order: 2;
						}

						svg {
							margin-top: 20px;
							order: 1;
							width: 32px;
							height: 32px;
						}
					}
				}
			}
		}

		@media (min-width: $breakpointMenuFull) {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;
			bottom: 0;

			.header-nav-primary {
				position: relative;
				width: 100%;
				height: 100%;
				margin: 0;
				padding: 0 $spacingXXL 0 0;
				padding: 0 7vw 0 0;
				padding: 0 calc(7vw - 7px) 0 0;
				list-style: none;
				box-sizing: border-box;

				display: flex;
				flex-wrap: nowrap;
				justify-content: flex-end;
				align-items: center;

				.nav-item {
					position: relative;
					display: block;
					margin: 0 0 0 4vw;

					@media (max-width: $breakpointMenuFull + 400px) {
						margin: 0 0 0 3vw;
					}

					@media (max-width: $breakpointMenuFull + 200px) {
						margin: 0 0 0 2vw;
					}

					&.mobile-only {
						display: none;
					}

					padding: 0;
					line-height: 1;
					font-size: 18px;
					font-family: $fontFamilyPrimary;
					font-weight: 700; /* bold */
					text-transform: uppercase;

					&:first-child {
						margin: 0 !important;
					}

					&.account {
						padding-right: 34px;

						a {
							margin: 0 0 0 6px;

							&:first-child {
								margin: 0 6px 0 0;
							}
						}

						svg {
							position: absolute;
							top: 45%;
							right: 0;
							width: 25px;
							height: 25px;
							@include transform(translateY(-50%));
						}
					}
				}
			}
		}
	}

	.header-nav-toggle {
		position: absolute;
		top: 50%;
		left: $spacingXXL - 20px;
		left: calc(7vw - 20px);
		@include transform(translateY(-50%));
		outline: 0;
		color: $colorAnchor;

		@media (min-width: $breakpointMenuFull) {
			display: none;
		}
	}

	.header-nav-toggle .toggle-inner, .header-nav-toggle .toggle-inner::before, .header-nav-toggle .toggle-inner::after {
		background-color: $colorAnchor;
	}

	@media (hover: hover) {
		.header-nav-toggle:hover {
			.toggle-inner, .toggle-inner::before, .toggle-inner::after {
				background-color: $colorAnchorHover !important;
			}
		}
	}
}

/*  ::  Page Styles  »  Content		*/

#content {
	position: relative;
	width: 100%;
	z-index: 1;
	word-wrap: break-word; /* stops very long words from increasing the width of their container */

	padding-top: $headerHeightHamburger;
	@include transition(padding, 300ms, linear, 0ms);

	@media (min-width: $breakpointMenuFull) {
		padding-top: $headerHeightFull;

		.page-scrolled & {
			padding-top: $headerHeightFull - 25px;
		}
	}

	> .component:first-child {
		scroll-snap-align: none !important;
	}

	> .component:nth-last-child(2) {
		scroll-snap-align: none !important;
	}

	.content-top {
		position: absolute;
		z-index: 100;
		bottom: 45px;
		@include transform(translateY(50%));

		@media (max-width: $breakpointMenuHamburger) {
			@include transform(translateY(100%));
			bottom: -50px;
		}

		@media (max-width: $breakpointXXS) {
			display: none;
		}

		right: 7.5vw;
		right: calc(7.5vw - 18px);
		mix-blend-mode: exclusion;
		@include transition(all, 200ms, linear, 0ms);

		.fill {
			@include transition(fill, 200ms, linear, 0ms);
			fill: $colorWhite;
		}

		.fill-tint {
			@include transition(fill, 200ms, linear, 0ms);
			fill: $colorVeryLightGrey;
		}

		@media (hover: hover) {
			&:hover {
				mix-blend-mode: normal;

				.fill {
					fill: $colorRed;
				}

				.fill-tint {
					fill: $colorRed;
				}
			}
		}
	}
}

/*  ::  Page Styles  »  Footer		*/

#footer {
	position: relative;
	width: 100%;
	padding: 50px 0;
	background: mix($colorBlack, $colorCharcoal, 50%);

	a {
		color: $colorWhite;
		text-decoration: none;
		@include transition(color, 150ms, linear, 0ms);

		&.active {
			color: $colorVeryLightGrey;
		}

		@media (hover: hover) {
			&:hover {
				color: $colorRed;
			}
		}
	}

	.footer-inner {
		position: relative;
		@include component-wide;

		display: flex;
		flex-wrap: nowrap;
		justify-content: space-between;
		align-items: center;

		@media (max-width: $breakpointM) {
			flex-direction: column;

			> div {
				width: 100%;
			}
		}

		.footer-logo-legal {
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-start;
			align-items: center;
			width: 33.33%;

			@media (max-width: $breakpointM) {
				width: 100%;
				justify-content: center;
			}

			@media (max-width: $breakpointM) {
				order: 3;
				padding: $spacingM 0 0 0;

				.logo {
					img {
						display: none;
					}
				}

				.legal {
					display: none;
				}
			}

			.logo {
				text-align: center;

				img {
					margin: 0 auto;
					height: 75px;
				}

				span {
					padding: 2px 0 0 0;
					display: inline-block;
					font-size: 9px;
				}
			}

			.legal {
				padding: 0 0 0 $spacingXL;
			}
		}

		.footer-social {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: nowrap;
			justify-content: center;
			align-items: center;
			width: 33.33%;

			@media (max-width: $breakpointM) {
				width: 100%;
			}

			li {
				margin: 0 $spacingXL / 2;
				padding: 0;

				@media (max-width: $breakpointXXS) {
					margin: 0 $spacingL / 2;
				}

				a {
					.fill {
						@include transition(all, 200ms, linear, 0ms);
						fill: $colorWhite;
					}

					@media (hover: hover) {
						&:hover {
							.fill {
								fill: $colorRed;
							}
						}
					}
				}
			}
		}

		.footer-links {
			margin: 0;
			padding: 0;
			list-style: none;
			display: flex;
			flex-wrap: nowrap;
			justify-content: flex-end;
			align-items: center;
			width: 33.33%;

			@media (max-width: $breakpointM) {
				display: none;
			}

			li {
				margin: 0 0 0 $spacingXL;
				padding: 0;

				&:first-child {
					margin: 0;
				}
			}
		}
	}
}
