@mixin component {
	position: relative;
	margin-top: $spacingComponentLeading;
	margin-bottom: $spacingComponentLeading;

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}
}

@mixin component-narrow {
	position: relative;
	max-width: $spacingContentNarrow;
	margin-left: auto;
	margin-right: auto;
	clear: both;

	padding-left: $spacingComponentGutter;
	padding-right: $spacingComponentGutter;
}

@mixin component-wide {
	position: relative;
	max-width: $spacingContentWide;
	margin-left: auto;
	margin-right: auto;
	clear: both;
}

@mixin component-full {
	position: relative;
	max-width: 100%;
	margin-left: 0;
	margin-right: 0;
	clear: both;

	padding-left: 0;
	padding-right: 0;
}