.content-top {
    position: fixed;
    z-index: 100;
    bottom: 45px;
    @include transform(translateY(50%));

    @media (max-width: $breakpointMenuHamburger) {
        @include transform(translateY(100%));
        bottom: -50px;
    }

    @media (max-width: $breakpointXXS) {
        display: none;
    }

    right: 7.5vw;
    right: calc(7.5vw - 18px);
    mix-blend-mode: exclusion;
    @include transition(all, 200ms, linear, 0ms);

    .fill {
        @include transition(fill, 200ms, linear, 0ms);
        fill: $colorWhite;
    }

    .fill-tint {
        @include transition(fill, 200ms, linear, 0ms);
        fill: $colorVeryLightGrey;
    }

    @media (hover: hover) {
        &:hover {
            mix-blend-mode: normal;

            .fill {
                fill: $colorRed;
            }

            .fill-tint {
                fill: $colorRed;
            }
        }
    }
}